/*Global CSS classes*/
.bg{
width: 100%;
height: 100%;
margin:0;
background-image: linear-gradient(#b2ebf2, #e5ffff);
    z-index: -1;
   }

.importantBtn
{
    background-color: #d50000;
    color: white;
    font-weight: bold;
}

.commonBtn
{
background-color: #81b9bf;
color: white;
font-weight: bold;
}


/*Loading CSS*/
.loadingAnimal
{
    background-image: url("../../img/cat_1.png");
    width: 100%;
    height: 100%;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: walkingAnimal;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    position: absolute;

}

.indexpluss{
z-index:2;
background-image: linear-gradient(#b2ebf2, #e5ffff);
}

/*Login CSS*/
.login{
    width: 40%;
}

.logo{
    height:25vh;
    background-image: url("../../img/logo.png");
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}
#containerLogin{
height: 40%;
margin-top: 15vh;
}

.movileContainerBackground{
  background-image: linear-gradient(#b2ebf2, #e5ffff);
    z-index:1;
}
#sideBarRight{
    left: 76.67%;
    top: 0;
    }
#sideBarLeft{
    right: 76.67%;
    top: 0;}

#sideBarRight, #sideBarLeft{
background-image: linear-gradient(#b2ebf2, #e5ffff);
    height: 100vh!important;
    position: fixed;
    width: 30%;
    z-index: 3;
}
.indexless{
    z-index: 1;
}

/*LostPets and FindedPets CSS*/
.stikyHeader{
  margin: 0;
  padding: 3% 0 0.5% 7px;
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  z-index: 2;
}
.stikyBackground{
background-image: linear-gradient(#b2ebf2, #e5ffff);
    }
.itemList{
    margin-top: 5%!important;
    background-color:  rgba(0,0,0,0.06);
}

.itemList .no-gutters{
    background-color: white;
}

.movileContainer{
    position: relative;
    top: 0;
}
button, .btn{
    border-radius: 5px!important;
}
.card{
margin-bottom: auto;
background-color: rgba(0,0,0,0.06) !important;
border-style: none!important;
margin-top: 10%;
}
.card-body{
 padding: 0.5rem!important;
}

.cat{
    background-image:url("/src/img/cat_1.png");
    animation: walkingCat 5s linear 2s infinite;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input{
    border-radius: 5px!important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
.titleFromForms{
font-family: 'Hammersmith One', sans-serif;
text-align: center;
}


@-webkit-keyframes next {
0%{position: relative; left: 0; top:0;}
25%{left: -30%;width:0;height:0;}
28%{left: 110%; width: 0;height:0;}
34.1%{z-index:-1;}
34.2%{z-index:3;}
55%{position: relative; left: 0; top:0;width: 100%;}
100%{position: relative; left: 0; top:0;}
}

@keyframes next {
0%{position: relative; left: 0; top:0;}
25%{left: -30%;width:0;height:0;}
28%{left: 110%; width: 0;height:0;}
34.1%{z-index:-1;}
34.2%{z-index:3;}
55%{position: relative; left: 0; top:0;width: 100%;}
100%{position: relative; left: 0; top:0;}
}

@-webkit-keyframes walkingAnimal {
  0%{background-image: url("../../img/cat_1.png")}
  14.2%{background-image: url("../../img/cat_2.png")}
  28.4%{background-image: url("../../img/cat_3.png")}
  42.6%{background-image: url("../../img/cat_4.png")}
  56.8%{background-image: url("../../img/cat_1.png")}
  71%{background-image: url("../../img/cat_2.png")}
  85%{background-image: url("../../img/cat_3.png")}
  100%{background-image: url("../../img/cat_4.png")}
}

/* Standard syntax */
@keyframes walkingAnimal {
  0%{background-image: url("../../img/cat_1.png")}
  14.2%{background-image: url("../../img/cat_2.png")}
  28.4%{background-image: url("../../img/cat_3.png")}
  42.6%{background-image: url("../../img/cat_4.png")}
  56.8%{background-image: url("../../img/cat_1.png")}
  71%{background-image: url("../../img/cat_2.png")}
  85%{background-image: url("../../img/cat_3.png")}
  100%{background-image: url("../../img/cat_4.png")}
}

@-webkit-keyframes invalidForm {

    0%{}
    50%{}
    100%{}

}

@keyframes invalidForm {
    0%{position:relative; left:0px}
    25%{left:-10px}
    50%{left:10px}
    100%{position:relative;left:0px}
}

@media only screen and (max-width: 600px)
{

    input[type="text"], input[type="password"]
    {
        font-size: 17px;
    }

    .logo
    {background-size: 170%;
    }
    .card
    {
        width: 85%;
    }
    #sideBarRight, #sideBarLeft
    {
     background-image: linear-gradient(#b2ebf2, #e5ffff);
        height: 100vh!important;
        position: fixed;
        width: 30%!important;
        z-index: 3;
    }

    .buscarFind_lost_Pets_responsive{
        width: 150%;
        margin-bottom: 5%;
    }
    .ml-5{
        margin-left: 4%!important;
    }

    containerLogin{
    width: 80%!important;
    padding-right: 3%!important;
    padding-left: 3%!important;
    }
    .titleFromForms{
        font-size: 4vh;
    }
}



.color
{
    color: #ce93d8;
}
.abajo{
    position: absolute;
    bottom: 10px
}
.img-ch{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: red;
}
.grist{
    background-color: #FAFAFA;
}
a{
    text-decoration: none !important;
}
.sticky-top{
    position: fixed;
    left: 15px;
    top: 15px;
}
.rojoa{
    background-color: red;
}